.agent {
    position: relative;
    padding-top: 180px;
    padding-bottom: 75px;
    width: 100%;
    background-color: rgba($color: #2e2e2e, $alpha: 0.7);    
    background-image: url(../img/agent-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include media-tablet {
        background-image: url(../img/agent-bg.jpg);
        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
            background-image: url(../img/agent-bg@2x.jpg);
        }
    }
    &:before {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
        background-image: url(../img/agent-icon.png);
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.agent__header {
    margin: 0;
    padding: 0;
    color: #ffffff;    
    font-size: 20px;
    font-weight: 700;    
    text-align: center;
    @include media-tablet {
        font-size: 26px;
    }
}

.agent__text {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    color: #ffffff;    
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    @include media-tablet {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 15px;
        font-size: 19px;
        line-height: 27px;
    }
    @include media-laptop {
        margin-top: 20px;
        padding-left: 75px;
        padding-right: 75px;        
    }
}