*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.header-intro-wrapper {
    width: 100%;
    background-color: rgba($color: #2e2e2e, $alpha: 0.7);    
    background-image: url(../img/intro-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include media-tablet {
        background-image: url(../img/intro-bg.jpg);
        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
            background-image: url(../img/intro-bg@2x.jpg);
        }
    }
}

.btn {
    width: 160px;
    height: 45px;
    background-color: $maincolor;
    color: #ffffff;  
    border: none;
    border-radius: 22px;  
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
        border: 2px solid #ffffff;   
        background-color: #dc5238;     
    }
    &:active, &:focus {
        outline: none;
        border: 1px solid #ffffff;
    }
    &--large {
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
        line-height: 17px;    
        border-radius: 28px;
    }
}



.section-header {
    margin: 0;
    padding: 0;
    color: #2e2e2e;    
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include media-tablet {
        font-size: 24px;
    }
    @include media-laptop {
        font-size: 26px;
    }
    &--underlined {
        position: relative;
        padding-bottom: 20px;
        &::before {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            width: 148px;
            height: 1px;
            background-color: $maincolor;
        }

    }
}
