.menu {
    position: relative;
    order: 3;
    width: 100%;
    min-height: 50px;
    margin-top: 15px;
    background-color: rgba($color: #2e2e2e, $alpha: 0.9);
    @include media-tablet {
        background-color: transparent;        
    }       
    @include media-laptop {
        order: 2;
        width: auto;
        width: 600px;
    }    
}

.menu__hamburger {
    position: absolute;
    top: 0;
    right: 0; 
    z-index: 2;
    width: 80px;    
    height: 50px;        
    cursor: pointer;       
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 4px;
        top: 13px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
        box-shadow: 0 10px #ffffff, 0 20px #ffffff;
    }
    @include media-tablet {
        display: none;
    } 
}

.menu__hamburger--active {
    &::before, &::after {
        content: "";
        position: absolute;
        display: block;
        width: 34px;
        height: 4px;
        top: 50%;
        left: 50%;                
        background-color: #ffffff;
        box-shadow: none;
    }     

    &::before {
        transform: translateX(-50%) translateY(50%) rotate(45deg);
    }

    &::after {        
        transform: translateX(-50%) translateY(50%) rotate(-45deg);  
    } 
}

.menu__list {
    @include reset-list;
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-right: 70px;   
    background-color: rgba($color: #2e2e2e, $alpha: 0.9); 
    transform: translateX(-150%);
    transition: transform 0.3s;
    @include media-tablet {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-right: 0;
        background-color: transparent;
        transform: translateX(0);
    } 
}

.menu__list--active {
    transform: translateX(0);
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-tablet {
        flex-grow: 1;   
        border-right: 1px dotted #ffffff; 
        &:last-child {
            border-right: none; 
        }    
    }    
}

.menu__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #ffffff; 
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);   
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    &:hover {
        color: $maincolor;
    }
    @include media-tablet {
        position: relative;
        padding: 5px;  
        border: none;
        font-size: 15px;        
        line-height: 18px;
        text-align: center;
    } 
    
}