.testimonials {
    padding-top: 30px;
    padding-bottom: 45px;
    @include media-tablet {
        padding-top: 40px;
        padding-bottom: 55px;
    }
    @include media-laptop {
        padding-top: 50px;
        padding-bottom: 65px;
    }
}

.testimonials__text {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    margin-top: 15px;    
    color: #2e2e2e;    
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    @include media-tablet {
        font-size: 16px;
        max-width: 650px;
    }
    @include media-laptop {
        font-size: 21px;
        max-width: 760px;
    }
}

.testimonials__slider-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;    
    @include media-tablet {
        width: 75%;
    }
    @include media-laptop {
        width: 50%;
        max-width: 600px;
    }
}

.testimonials__list {
    @include reset-list;   
}

.testimonials__item {    
    margin: 0 auto; 
    width: 100%;    
    @include media-tablet {
        width: 75%;
    }
    @include media-laptop {
        width: 50%;
        max-width: 600px;
    }
}

.testimonials__item-img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 114px;
    height: 114px;
    border-radius: 100%;
    background-color: #4f5682;
}

.testimonials__item-header {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    color: #3a3a3a;    
    font-size: 18px;
    font-weight: 700;
    text-align: center;    
}

.testimonials__item-text {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    color: #3a3a3a;    
    font-size: 14px;
    font-weight: 300;
    line-height: 22.01px;
    text-align: justify;
}

.testimonials__prev, .testimonials__next {
    position: absolute;
    top: 60px;
    left: 50%;
    border: none;
    background-color: transparent;
}

.testimonials__prev {
    transform: translateX(-50%) translateX(-100px);
}

.testimonials__next {
    transform: translateX(-50%) translateX(100px);
}